<!-- loader starts-->
<div class="centered bloco" *ngIf="loader">
  <div class="container2">
    <img src="../assets/images/rectangle.png" alt="rectangle">
    <div class="centered1">
      <img src="../assets/images/logo1.png" alt="logo1">
    </div>
  </div>
</div>
<!-- loader ends -->
<!-- login starts -->
<form [formGroup]="reactiveForm" id="form">
  <div *ngIf="!loader">
    <div class="centered" style="color:aqua" *ngIf="Show">
      <h1>What is your name?</h1>
      <input placeholder="-Type here-" id="username" autocomplete="off" [formControl]="textControl"
        formControlName="username1" [(ngModel)]="current" />
      <br>
      <button id="submit" type="submit" (click)="toggle1()" type="submit"
        [disabled]="reactiveForm.invalid">next</button>
    </div>
  </div>

</form>
<!-- login ends -->
<!-- avatar starts -->
<div class="centered" *ngIf="Show2" style="color: white;">
  <div>
    <h1>Hello {{current}}</h1>
    <p>Choose your avatar</p>
  </div>
  <div class="av-img">
    <div class="avatar" [ngClass]="statusClass" (click)="setActiveClass()">
      <img src="../assets/images/av2.png" alt="av1" class="img">
    </div>
    <div class="avatar">
      <img src="../assets/images/av2.png" alt="av2" class="img">
    </div>
    <div class="avatar">
      <img src="../assets/images/av3.png" alt="av3" class="img">
    </div>
    <div class="avatar">
      <img src="../assets/images/av2.png" alt="av4" class="img">
    </div>
    <div class="avatar">
      <img src="../assets/images/av3.png" alt="av5" class="img">
    </div>
  </div>
  <button id="submit" type="submit" (click)="toggle2()">next</button>
</div>
<!-- avatar ends -->
<!-- room starts -->
<div class="centered" *ngIf="Show3" style="color: white;">
  <div class="crate-room">
    <div class="avatar">
      <img src="../assets/images/av2.png" alt="av3" class="img">
    </div>
    <h1>Hello {{current}}</h1>
  </div>
  <div class="avat-room">
    Join a Room
  </div>
  <div class="avat-room" (click)="toggle3()">
    Create a Room
  </div>
</div>
<!-- room ends  -->

<!-- players div starts -->
<div class="centered" *ngIf="Show4" style="color: white;">
  <div class="crate-room">
    <div class="avatar">
      <img src="../assets/images/av2.png" alt="av3" class="img">
    </div>
    <h1>Hello {{current}}</h1>
  </div>

  <div class="room-contanier">
    <label for="r-name" class="label-room">Room name</label>
    <br>
    <input class="mt-10" type="text" name="" id="r-name" placeholder="- Type here -">
  </div>

  <div class="room-contanier">
    <label for="players" class="label-room">No. of players</label>
    <br>
    <input class="mt-10" type="number" name="" id="players" placeholder="- Type here -" minlength="6">
  </div>

  <button id="submit" type="submit">Create</button>
</div>
<!-- players div ends -->

<router-outlet></router-outlet>